.container{
  max-width:900px;
  margin:auto;
}

.navbar{
  background:#161b22;
  padding:16px 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom:1px solid #30363d;
  position:sticky;
  top:0;
  z-index:100;
}

.logo{
  font-size:24px;
  font-weight:bold;
}

.post-card{
  background:#161b22;
  border-radius:15px;
  padding:20px;
  margin-top:20px;
  border:1px solid #30363d;
}

.feed-wrapper{
  padding:20px;
}

.comment-box{
  margin-top:10px;
}